{% extends "base.html" %}
{% block body %}
  <div id="signup-form" class="feed-grid">
    <form action="{% url 'login' %}" method="post">
      <h3>Sign in to add to the Feed</h3>
      {% if form.errors %}
        <small>Your username and password didn't match. Please try again.</small>
      {% endif %}
      {% csrf_token %}
      <div class="form-group">
        {{ form.username.label }}
        {{ form.username.errors }}
        {{ form.username }}
      </div>
      <div class="form-group">
        {{ form.password.label }}
        {{ form.password.errors }}
        {{ form.password }}
      </div>
      <input value="Login" type="submit" class="btn btn-block feed-button" />
      <input type="hidden" name="next" value="{{ next  }}" />
      <small>Not registered? Sign up <a href=" {% url 'signup' %}">here.</a></small>
    </form>
  </div>
{% endblock %}
