{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href=" {% static 'css/bootstrap.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href=" {% static 'css/font-awesome.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href=" {% static 'css/main.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <title>FeedSocial</title>
  </head>
  <body>
    {% include './nav.html' %}
    <div class="feed-wrapper">
      {% block body %}
      {% endblock body %}
    </div>
  </body>
</html>
