{% extends "base.html" %}

{% block body %}
<div class="container">
<div class="row">
<div class="col-6 m-auto">
    <p>
      {{ object.content }} 
    </p>
    <p>
      {{ object.creator }} 
    </p>

    {% for comment in object.contentcomment_set.all %}
    <h2>message here {{ comment.message }}</h2>
    {% endfor %}

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }} 
      <input type="submit" class="btn feed-button btn-block "/>
    </form>
</div>
</div>
</div>
{% endblock body %}
