{% extends "base.html" %}

{% block body %}
<div class="container">
<div class="row">
<div class="col-8 m-auto">
  <div class="content-detail">
    <h2 class="content-detail--header">
      {{ object.content }} 
    </h2>
    <p>
      <a href=" {% url 'pfeed' user=object.creator %}" target="_blank">{{ object.creator }}</a>
    </p>
  </div>

  <div class="comment-block">
  {% for comment in object.contentcomment_set.all %}
    <p>
      <a href="{% url 'pfeed' user=comment.comment_creator %}">
        {{ comment.comment_creator }}: 
      </a>
      {{ comment.message }}
    </p>
    <hr>
  {% endfor %}
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form.message.error }} 
      {{ form.message}} 
    </div>
    <input type="submit" class="btn feed-button btn-block "/>
  </form>
</div>
</div>
</div>
{% endblock body %}
