.content-detail {
  display: flex;
  flex-flow: column;
  border-top: 40px solid darken(aquamarine, 20%);
  border-radius: 10%;
  &--header {
    background-color: black;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
  p {
    padding: 20px 10px;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    & a {
    text-decoration: none;
    color: darken(aquamarine, 20%);
    }
  }
}

.comment-block {
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  margin-bottom: 10px;
  & hr {
    margin: 0;
  }
  & p {
    padding: 20px;
    margin: 0;
  }
  & a {
    color: darken(aquamarine, 20%);
    text-decoration: none;
  }
}
