.comment-block {
  border-top: 40px solid #19ffb2;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-radius: 10% 10% 0 0;
  width: 300px;
  @media (max-width: 350px){
    width: 200px;
  }
  @media (max-width: 250px){
    width: 100px;
  }
  align-self: center;
  & h2 {
    padding: 20px;
    color: white;
    background-color: black;
  }
  & a {
    display: flex;
    justify-content: flex-end;
    color: darken(aquamarine, 20%);
  }
  & small {
    padding: 10px 20px;
  }
}
.comment-item {
  border-top: 40px solid #19ffb2;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  width: 300px;
  @media (max-width: 350px){
    width: 200px;
  }
  @media (max-width: 250px){
    width: 100px;
  }
  & h5 {
    padding: 20px;
    color: white;
    background-color: black;
  }
  & a {
    display: flex;
    justify-content: flex-end;
    color: darken(aquamarine, 20%);
  }
  & small {
    padding: 10px 20px;
  }
}
