.feed-grid {
  list-style: none;
  padding: 0;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media (min-width: 300px){
    margin-top: 225px;
  }
  @media (min-width: 550px){
    margin-top: 160px
  }
  @media (min-width: 855px){
    margin-top: 130px;
  }
  margin-top: 275px;
  margin-bottom: 30px;
  &--item {
    display: flex;
    flex-flow: column;
    border-top: 40px solid darken(aquamarine, 20%);
    border-bottom: 1px solid black;
    border-radius: 10%;
    @media (max-width: 350px){
      width: 200px;
    }
    @media (max-width: 250px){
      width: 100px;
    }
    width: 300px;
    margin: 10px;
    h4 {
      flex: 1 1 auto;
      display:flex;
      flex-direction: column;
      justify-content: center;
      overflow-wrap: break-word;
      color: white;
      background-color: #212;
      padding: 30px 20px;
    }
    .comment {
      display: flex;
      em {
        align-self: center;
      }
    }
    small {
      padding: 20px;
      margin-right: auto;
      a {
        color: darken(aquamarine, 30%);
        text-decoration: none;
      }
    }
    .fa-comment {
      padding: 20px 20px 20px 5px;
      align-self: center;
    }
  }
}
