.nav {
  min-height: 125px;
  border: 5px groove aquamarine;
  background-color: #212;
  color: white;
  display: flex; }
  .nav a {
    color: aquamarine; }
  .nav form {
    margin: 0 auto; }
  .nav .btn {
    color: white;
    background-color: #19ffb2; }
  .nav-header {
    font-size: 1.5em;
    display: flex;
    color: white;
    text-decoration: underline;
    align-items: center;
    padding: 20px 30px;
    font-family: 'monospace';
    letter-spacing: .02em; }
    .nav-header i {
      color: #00ffa9;
      padding: 0 10px;
      position: relative;
      top: 1px;
      left: -15px; }
  .nav-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center; }
    .nav-ul a {
      text-decoration: none;
      color: white; }
    .nav-ul--item {
      font-family: 'monospace';
      padding: 20px 20px;
      margin-right: 5px;
      display: flex;
      align-items: center; }
      .nav-ul--item:hover {
        background: #1a1a1a;
        cursor: pointer;
        color: aquamarine; }

footer {
  display: flex;
  justify-content: flex-end;
  height: 140px;
  border-top: 5px groove aquamarine;
  background-color: #212;
  color: aquamarine;
  display: flex;
  font-family: 'monospace'; }
  footer h5 {
    align-self: flex-end;
    padding: 20px; }

.comment-block {
  border-top: 40px solid #19ffb2;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-radius: 10% 10% 0 0;
  width: 300px;
  align-self: center; }
  @media (max-width: 350px) {
    .comment-block {
      width: 200px; } }
  @media (max-width: 250px) {
    .comment-block {
      width: 100px; } }
  .comment-block h2 {
    padding: 20px;
    color: white;
    background-color: black; }
  .comment-block a {
    display: flex;
    justify-content: flex-end;
    color: #19ffb2; }
  .comment-block small {
    padding: 10px 20px; }

.comment-item {
  border-top: 40px solid #19ffb2;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  width: 300px; }
  @media (max-width: 350px) {
    .comment-item {
      width: 200px; } }
  @media (max-width: 250px) {
    .comment-item {
      width: 100px; } }
  .comment-item h5 {
    padding: 20px;
    color: white;
    background-color: black; }
  .comment-item a {
    display: flex;
    justify-content: flex-end;
    color: #19ffb2; }
  .comment-item small {
    padding: 10px 20px; }

.feed-grid {
  list-style: none;
  padding: 0;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 275px;
  margin-bottom: 30px; }
  @media (min-width: 300px) {
    .feed-grid {
      margin-top: 225px; } }
  @media (min-width: 550px) {
    .feed-grid {
      margin-top: 160px; } }
  @media (min-width: 855px) {
    .feed-grid {
      margin-top: 130px; } }
  .feed-grid--item {
    display: flex;
    flex-flow: column;
    border-top: 40px solid #19ffb2;
    border-bottom: 1px solid black;
    border-radius: 10%;
    width: 300px;
    margin: 10px; }
    @media (max-width: 350px) {
      .feed-grid--item {
        width: 200px; } }
    @media (max-width: 250px) {
      .feed-grid--item {
        width: 100px; } }
    .feed-grid--item h4 {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-wrap: break-word;
      color: white;
      background-color: #212;
      padding: 30px 20px; }
    .feed-grid--item .comment {
      display: flex; }
      .feed-grid--item .comment em {
        align-self: center; }
    .feed-grid--item small {
      padding: 20px;
      margin-right: auto; }
      .feed-grid--item small a {
        color: #00e598;
        text-decoration: none; }
    .feed-grid--item .fa-comment {
      padding: 20px 20px 20px 5px;
      align-self: center; }

#signup-form form {
  max-width: 400px;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid lightgrey; }
  @media (min-width: 425px) {
    #signup-form form {
      width: 400px;
      align-self: center; } }

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0; }

.feed-button {
  background-color: #19ffb2;
  cursor: pointer; }

.login-form {
  width: 300px;
  align-self: center;
  justify-content: center;
  border: 1px solid lightgrey;
  padding: 20px; }
